@import "tailwindcss";

/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fahkwang:wght@300;400;500;600;700&display=swap");

/* Source (biarin aja) */
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* ❌ HAPUS font global Fahkwang */
/* html, body {
    font-family: 'Fahkwang', ui-sans-serif, system-ui, sans-serif;
} */

/* ✅ Default font normal */
html,
body {
    font-family: ui-sans-serif, system-ui, sans-serif;
}

/* ✅ Class khusus Fahkwang */
.font-fahkwang {
    font-family: "Fahkwang", sans-serif;
}
